button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mov_update {
    background-color: #4CAF50; 
}

.mov_delete {
    background-color: #f44336;
}

.mov_pending {
    background-color: #f0ad4e;
}
