#chest {
    display: grid;
    justify-items: center;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

.eam_square {
    width: 50px;
    height: 50px;
}

.eam_dark {
    background: rgb(66, 41, 41);
}

.eam_light {
    background: #404040;
}

img {
    width: 50px;
}
